<html>
<head>
	
</head>

<body>
	<img alt="full screen background image" src="http://i1286.photobucket.com/albums/a603/zucchiniman3/image1_zps7ce2255d.jpeg" id="full-screen-background-image"/>
<style type="text/css">
	body{overflow:hidden;}
</style>
	<div id="wrapper">
<h1>Welcome to Leerubinoff.Book</h1>
<h2>
	Access restricted to only Lee Rubinoff & Justin Reyes!
</h2>

</div>

</body>
</html>